.form-input {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.form-input__input {
  width: 75%;
  padding: 5%;
}

.form-input__attach-btn {
  width: 5%;

  //background-image: url('icons/attach.png');
  background-size: contain;
  background-repeat: no-repeat;

  border: none;
  border-right: 2px solid gray;

  cursor: pointer;
}

.input {
  border: none;
  border-radius: 0;

  font-size: 1.2em;
}

input:focus {
  outline: none;
}

.form-input__send-button {
  width: 20%;
  padding: 20px;
}

.send-button {
  display: inline-block;

  background: #f8911c;

  border: none;

  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
}
