.info-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3a3a3a;
    height: 60px;
    width: 100%;
}

.info-bar__left-container {
    display: flex;
    align-items: center;
    margin-left: 1%;
    color: white;
}

.left-container__button-to-back {
    padding: 10px;
    display: inline-block;
    background: #f8911c;
    border: none;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.left-container__room-name {
    margin-left: 20px;
}

.info-bar__right-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.online-icon {
    margin-right: 5%;
}
