.participants-display {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    height: 60%;
    justify-content: space-between;
}

.active-container {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
}

.active-item {
    display: flex;
    align-items: center;
}
